<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Kontakt</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/creative.min.css" rel="stylesheet">


    </head>
<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/register">Rejestracja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/login">Logowanie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dane">Profil kursanta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Register form -->
<section class="bg-primary" id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Jak uczymy?</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Reaktor PWN to profesjonalny, intensywny kurs praktyczny, podczas którego w kilka tygodni nauczysz się programowania i będziesz mógł zacząć pracę jako programista.</p>
                <h2 class="section-heading text-white">Uczymy stacjonarnie</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Wierzymy, że dzięki intensywnej pracy z trenerem podczas warsztatów zdecydowanie szybciej i efektywniej możesz nauczyć się programowania niż na kursach on-line. W  Dniu Kariery pokażesz Pracodawcom swoje portfolio przygotowane na kursie, co pomoże Ci znaleźć pracę.</p>
                <h2 class="section-heading text-white">Trenerzy</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Nasza kadra to osoby, które znają się na programowaniu, ale wiedzą też, jak przekazać Ci wiedzę, abyś umiał ją później wykorzystać w praktyce. To profesjonaliści w swoim fachu.</p>
            </div>
        </div>
    </div>
</section>

</body>
</html>