<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artykuły</title>
    <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body>


    
    <p th:text="${daneStudenta.name}"></p>
    <p th:text="${daneStudenta.lname}"></p>
    <p th:text="${daneStudenta.email}"></p>
    <p th:text="${daneStudenta.phone}"></p>
    <p th:text="${daneStudenta.gitHub}"></p>
    <p th:text="${daneStudenta.passwd}"></p>
    <p th:text="${daneStudenta.project1grade}"></p>
    <p th:text="${daneStudenta.project1descgrade}"></p>
    <p th:text="${daneStudenta.project2descgrade}"></p>
    <p th:text="${daneStudenta.project2descgrade}"></p>
    <p th:text="${daneStudenta.project3grade}"></p>
    <p th:text="${daneStudenta.project3descgrade}"></p>
    <p th:text="${daneStudenta.project4grade}"></p>
    <p th:text="${daneStudenta.project4descgrade}"></p>

</body>
</html>