<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artykuły</title>
    <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body>


<label for="im">Imię </label>
<p id="im" th:text="${daneStudenta.name}"></p>
<label for="na">Nazwisko </label>
<p id="na" th:text="${daneStudenta.lname}"></p>
<label for="em">E-mail </label>
<p id="em" text="${daneStudenta.project2grade}"></p>
<label for="im">Opis Projekt 2 </label>
<p th:text="${daneStudenta.project2descgrade}"></p>
<label for="im">Ocena Projekt 3 </label>
<p th:text="${daneStudenta.project3grade}"></p>
<label for="im">Opis Projekt 3 </label>
<p th:text="${daneStudenta.project3descgrade}"></p>
<label for="im">Ocena Projekt 4 </label>
<p th:text="${daneStudenta.project4grade}"></p>
<label for="im">Opis Projekt 4 </label>
<p th:text="${daneStudenta.project4descgrade}"></p>

</body>
</html>