<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Rejestracja</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/creative.min.css" rel="stylesheet">


    </head>
<body id="page-top">

<form th:action="@{/register}" th:object = "${student}" method="post">

    <p><label for="un">Imię </label>
    <input id="un" type="text" th:field = "*{name}" /></p>

    <p><label for="uln">Nazwisko</label>
    <input id="uln" type="text" th:field = "*{lname}" /></p>

    <p><label for="password">Password</label>
    <input id="password" type="text" th:field = "*{passwd}" /></p>

    <p><label for="uemail">Email</label>
    <input id="uemail" type="text" th:field = "*{email}" /></p>

    <label for="ghub">GHub</label>
    <input id="ghub" type="text" th:field = "*{gitHub}" />

    <p><label for="utel">Phone</label>
    <input id="utel" type="text" th:field = "*{phone}" /></p>

        <p><input type="submit" value = "Add" /></p>
</form>

</body>
</html>